/* styles/rainbow.css */
@keyframes rainbowAnimation {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(-360deg); }
  }
  
.text-rainbow {
    background: linear-gradient(to left, rgb(255, 186, 255), rgb(187, 91, 255), rgb(127, 127, 255), rgb(108, 255, 108), rgb(255, 89, 89));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowAnimation 2s ease-in-out infinite;
}

.dark .text-rainbow-dark {
    background: linear-gradient(to right, violet, indigo, blue, green, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowAnimation 2s ease-in-out infinite;
}

@keyframes hueRotateAnimation {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

.hue-rotate {
    animation: hueRotateAnimation 10s infinite linear;
}
