/* styles/rainbow.css */
@keyframes rainbowAnimation {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(-360deg);
    }
}

.text-rainbow {
    background: linear-gradient(to left, rgb(255, 186, 255), rgb(187, 91, 255), rgb(127, 127, 255), rgb(108, 255, 108), rgb(255, 89, 89));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowAnimation 2s ease-in-out infinite;
}

.dark .text-rainbow-dark {
    background: linear-gradient(to right, violet, indigo, blue, green, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowAnimation 2s ease-in-out infinite;
}

@keyframes hueRotateAnimation {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

.hue-rotate {
    animation: hueRotateAnimation 10s infinite linear;
}

.hover-underline-animation {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9333ea;
    /* Purple color */
    transition: width 0.3s ease-in-out;
}

.hover-underline-animation:hover::after {
    width: 100%;
}
